* {
    font-family: Arial, Helvetica, sans-serif;
}
div {
    display: flex;
    justify-content: center;
    align-items: center;    
}
table {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #181818;
    width: 250px;
}
.pantalla {
    display: flex;
    justify-content: right;
    background-color: #32363C;
    color: #D0D5D6;
    margin: -3.6px 0px 0px 0px;
    border-radius: 0 0 25px 25px;
    height: 100px;
    width: 250px;
    font-size: 25px;
}
#operacionCompleta {
    font-size: 15px;
    color: #5c636e;
    margin-top: -60px;
}
td {
    width: 50px;
    height: 50px;
}
input {
    border-radius: 50%;
    border: none;
    width: 50px;
    height: 50px;
    color: white;
    background-color: #232227;
}
input:active {
    background-color: #D0D5D6;
    color: #232227;
}
input::placeholder {
    color: white;
    text-align: center;
}
.ac {
    background-color: #005118;
}
.azul{
    background-color: #01497A;
}
.igual {
    background-color: #003FA4;
}
.funciones input{
    color: #4c8df6;
    background-color: transparent;
    font-size: 10px;
}
.funciones input:active{
    color: #d0d5d6;
    background-color: transparent;
}
